##############################
## clang                    ##
##############################
.[Cc][Aa][Cc][Hh][Ee]/
.[Cc][Ll][Aa][Nn][Gg][Dd]

##############################
## cmake                    ##
##############################
[Bb][Uu][Ii][Ll][Dd]/

##############################
## IntelliJ                 ##
##############################
.[Ii][Dd][Ee][Aa]/

##############################
## vscode                   ##
##############################
.[Vv][Ss][Cc][Oo][Dd][Ee]/
